# Getting started with Python: Numbers

**Exercise 1**

In [ ]:
net_price = 750
VAT = 21
final_price = net_price + (net_price*VAT)/100
print('The final price is :', final_price)

**Exercise 2**

In [ ]:
import math
x=10
y=(x/2)*math.exp(x**2)+1

print(y)

# Booleans in Python

**Exercise 3**

## String concatenation

**Exercises**

In [ ]:
str1 = "\"Hola\" is how we say \"hello\" in Spanish."
print(str1)
type(str1)

In [ ]:
print(str1[:5])

In [ ]:
str2 = "Strings can also be defined with quotes; try to be sistematic and consistent."
print(str2)

In [ ]:
str_total = str1+" "+str2
print(str_total)

In [ ]:
str1_low = str1.lower()
print(str1_low)

In [ ]:
str1_cap = str1.upper()
print(str1_cap)

In [ ]:
len(str1)

In [ ]:
str1_H = str1.replace('h','H')
print(str1_H)

## Tuples in Python

**Exercises with tuples**

In [ ]:
tuple1 = tuple(("apple", 1))
tuple2 = tuple(("banana", 1))
tuple3 = tuple(("apple", 2))
tuple4 = tuple(("melon", 1))
tuple5 = tuple(("pineapple",2))
tuple6 = tuple(("banana", 2))
my_tuple =(tuple1, tuple2, tuple3, tuple4, tuple5, tuple6)
print(my_tuple)

In [ ]:
elements = len(my_tuple)
n_apples = 0
n_bananas = 0
n_melons = 0
for ind in range(elements):
  if my_tuple[ind][0]=='apple':
    n_apples = n_apples + my_tuple[ind][1]
  elif my_tuple[ind][0]=='banana':
    n_bananas = n_bananas + my_tuple[ind][1]
  elif my_tuple[ind][0]=='melon':
    n_melons = n_melons + my_tuple[ind][1]
print('The total number of apples is: ', n_apples)
print('The total number of bananas is: ', n_bananas)
print('The total number of melons is: ', n_melons)

## Python dictionaries

**Exercises**

In [ ]:
classmates={'Maria':'Telecomunication Eng', 'Pablo': 'Biomedical Eng', 'Marta':'Biomedical Eng', 'Ana': 'Computer Science', 'Antonio' :'Telecomunication Eng'}
print(classmates)

In [ ]:
#Which degree has Ana studied?
print(classmates["Ana"])

In [ ]:
#Update your dictionary with the information of another classmate?
classmates.update({"Juan":'Biomedical Eng'})
print(classmates)

In [ ]:
#List the names of all the classmates in your dictionary
print(classmates.keys())

In [ ]:
#How many people studied Biomedical Engineering?
from collections import Counter
res = Counter(classmates.values())
print(res['Biomedical Eng'])

# User defined functions

In [ ]:
def my_factorial(n):
    if n > 1:
        return n * my_factorial(n - 1)
    else:
        return 1

In [ ]:
my_factorial(3)

In [ ]:
# Let's try it out!
from math import factorial
x = int(input('Please enter an integer: '))
if my_factorial(x) == factorial(x):
  print(x, '! = ', my_factorial(x))
  print('It works!')
else:
  print("Something's not working..." )